* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #ccdbdc;
    --dark: #003249;
    --light: #80ced7;
}

body {
    background-color: var(--background-color);
}

/* header */

header {
    padding: 25px 25px 25px 0px;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    text-align: end;
    width: 350px;
    color: var(--dark);
    background-color: var(--light);
}

.lio {
    color: #007ea7;
}

/* nav bar */

nav ul{
    list-style-type: none;
    align-items: end;
}

nav li {
    display: inline-block;
    padding-right: 25px;
}

nav li a {
    color: var(--light);
    font-size: 20px;
    text-decoration: none;
}

nav li a:hover {
    color: var(--dark);
    background-color: var(--light);
    transition: .4s;
}

/* image below header */

.hero {
    width: 100%;
    height: 200px;
    background-image: url(./images/Image-Below-Header.jpg);
    background-position: center;
}

/* aside */

aside {
    width: 25%;
    display: inline-block;
}

aside section {
    display: flex;
    justify-content: end;
}

.aside-heading {
    text-align: end;
    padding-right: 10px;
    color: var(--dark);
    width: 200px;
    border-right: 2px solid var(--dark);
    font-size: 30px;
}

#first-section {
    position: relative;
    margin-top: 50px;
    height: 100px;
}

#second-section {
    margin-top: 50px;
    height: 250px;
}

#third-section {
    margin-top: 50px;
    height: 100px;
}

/* main */

main {
    max-width: 75%;
    float: right;
}

.about-me {
    margin-top: 25px;
    padding: 25px;
}

/* Footer */

footer {
    position: relative;
    left: 40%;
}

@media screen and (max-width: 753px){
    header,
    nav,
    main,
    figure,
    footer {display: flex;
        flex-direction: column;
        align-items: center;
    }
    header h1 {
        text-align: center;
    }
}